*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Alata", sans-serif;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 90vh 45vw repeat(2, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.creations {
  grid-column: center-start / center-end;
  display: grid;
  margin: 10rem 0;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem;
  position: relative; }
  .creations__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    grid-column: 1/-1; }
  .creations .creation {
    position: relative;
    cursor: pointer; }
    .creations .creation:hover .creation__name {
      color: black; }
    .creations .creation:hover .creation__img {
      opacity: 0.3; }
    .creations .creation__name {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      width: 60%;
      margin: auto;
      font-size: 3rem;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: white; }
    .creations .creation__img {
      width: 100%; }

.header {
  background-color: purple;
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) repeat(2, [col-start] 56rem [col-end]) minmax(6rem, 1fr) [full-end];
  grid-template-rows: 2fr 1.5fr 1fr;
  color: white; }
  .header__heading-2 {
    padding-top: 4rem;
    grid-column: col-start 1/col-end 1; }
  .header__heading-1 {
    grid-column: col-start 1/col-end 1; }
  .header__navbar__nav {
    padding-top: 4rem;
    justify-content: flex-end; }

.footer {
  background-color: black;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) repeat(2, [col-start] 56rem [col-end]) minmax(6rem, 1fr) [full-end];
  padding: 2rem 0; }
  .footer__div-1 {
    grid-column: col-start 1/ col-end 1; }
  .footer__div-2 {
    grid-column: col-start 2/col-end 2; }
    .footer__div-2 > * {
      justify-content: flex-end; }
    .footer__div-2 .copyright {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: #8c8c8c;
      font-size: 1.3rem; }
      .footer__div-2 .copyright a {
        color: #bac0d8; }

.navbar__nav {
  display: flex;
  grid-gap: 2.5rem; }
  .navbar__nav > * {
    list-style: none; }
  .navbar__nav .nav__link:link, .navbar__nav .nav__link:visited {
    font-size: 1.3rem;
    color: white;
    text-decoration: none; }
  .navbar__nav .nav__link:after {
    display: block;
    content: '';
    border-bottom: solid 0.3rem white;
    transform: scaleX(0);
    transition: transform 250ms ease-out; }
  .navbar__nav .nav__link:hover:after {
    transform: scaleX(1); }

.story {
  grid-column: full-start/full-end;
  margin: 10rem 0;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] 40rem repeat(2, 16rem) 40rem [center-end] minmax(6rem, 1fr) [full-end]; }
  .story__picture {
    background-color: red;
    width: 100%;
    height: 100%;
    object-fit: fill;
    grid-column: center-start/ 5;
    grid-row: 1/-1; }
  .story__content {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-column: 4/center-end;
    grid-row: 4/-1;
    padding-left: 10rem; }

.heading-1, .heading-2, .heading-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.heading-1 {
  padding: 3rem;
  font-size: 6rem;
  border: .18rem solid #fff; }

.heading-2 {
  text-transform: none;
  font-size: 3rem;
  font-family: "Alata", sans-serif;
  font-weight: 300; }

.heading-3 {
  font-size: 4.8rem;
  color: #000; }

.heading-5 {
  font-size: 3rem;
  color: white;
  font-family: "Alata", sans-serif; }

.story__about {
  font-size: 1.5rem;
  color: #8c8c8c;
  line-height: 1.5; }

.btn {
  text-decoration: none;
  display: inline-block;
  background-color: white;
  font-weight: 400;
  color: black;
  border: 0.2rem solid black;
  border-radius: 0;
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.7rem 4rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: black;
    color: white; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 10rem; }
