*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 75%;
    @media only screen and (max-width:$bp-X-Large) {
        font-size: 68.75%;
    }
    
    @media only screen and (max-width:$bp-Large) {
        font-size: 62.5%;
    }
    
}

body{
    font-family: $font-primary;
    font-weight: 300;
}


.container{
    display: grid;
    // 1140/8--->14rem 
    grid-template-rows: 90vh 90vh repeat(2,min-content);
    @include grid-column-custom-style(largeScreen,true);
     
    @media only  screen and (max-width:$bp-small) {
     grid-template-rows: 100vh; 
     @include grid-column-custom-style(smallScreen,true);
     
    }
}



.inactive{
    display: none !important;
}

.active{
opacity: 1;
display: block;
}