.creations{
     display: grid;
     grid-column: center-start / center-end;
     
    margin-bottom: 10rem;
    grid-template-columns: repeat(auto-fit,minmax(20rem,2fr));
    grid-gap: 4rem; 
    position: relative;    

    @media only screen  and (max-width:$bp-X-small){
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
    }

    &__name{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        grid-column: 1 /-1;
    }

    &__btn  {
        @media only screen  and (max-width:37.5em){
            display: none !important;
        }
    }

    &__btn__div{
        grid-column: 1/-1;
        order: 100;
        display: none;
        margin-top: 1rem;
        
        @media only screen and (max-width:37.5em) {
            display: inherit;
            justify-self: center;
        }
    }


        .creation{
        position: relative;
        cursor: pointer;
        &:hover{
            .creation__name{
                color: $color-primary-dark
            }

            .creation__img{
                    opacity: 0.3;
            }
        }

           &__name{
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                width: 60%;
                margin: auto;
                font-size: 3rem;
                font-family: $font-display;
                font-weight: 400;
                text-transform: uppercase;
                color: $color-primary;
       
                @media only screen and (max-width:$bp-XXX-small) {
                      font-size: 2rem;
                    }
    
                }      

                &__img{
                    width: 100%;
                }
       
        }

}
