.footer{
    background-color:black;
    grid-column: full-start/full-end;
    display: grid;
    @include grid-column-custom-style(largeScreen,false);
    padding :2rem 0;   
    @media only screen and (max-width:$bp-XX-small) {
        @include grid-column-custom-style(smallScreen,false);
    }

    &> *{
    margin: 2rem;
    @media only  screen and (max-width:$bp-X-small) {
        margin:2rem 0 ;}
    }
    &__div-1{
        grid-column: center-start/ col-end 3;
        @media only screen and (max-width:$bp-small) {
                grid-column: center-start /center-end;
                display: flex;
                flex-direction: column;
                align-items: center;
        }
    }
    &__div-2{

        grid-column: col-start 5/center-end;
        
        @media only screen and (max-width:$bp-small) {
            grid-column: center-start /center-end;
            display: flex;
                flex-direction: column;
                align-items: center;
        }
        &>*
        {
            justify-content: flex-end;
        }
    
        
    

        
        .copyright{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: center;
            color: $color-Dark-gray-1;
            
            font-size: 1.2rem;
      
           
            @media only screen and (max-width:$bp-small) {
                align-items: center;  
            }
            a{color:   hsl(228, 28%, 79%);}
        }
    }

}