.header{
    background-color: purple;
    grid-column: full-start/full-end;
    background-image: linear-gradient(rgba($color-primary-dark, .3) ,rgba($color-primary-dark, .3)) , url("../images/desktop/image-hero.jpg");
    background-size: cover;
    background-position:center;
    display: grid;
    @include grid-column-custom-style(largeScreen,false);
    grid-template-rows: 2fr 1.5fr 1fr;
    grid-row-gap:5rem;
    color: $color-primary;

    @media only screen and (max-width:$bp-X-small) {

    background-image: url("../images/mobile/image-hero.jpg");
    @include grid-column-custom-style(smallScreen,false);
    grid-template-rows: 1fr 1fr 1fr;
     
}


    &__heading-2{   
        padding-top: 4rem;
        grid-column: center-start / col-end 1;

        @media only screen and (max-width:$bp-small) {
            z-index: 250;
        }
    }

    &__heading-1{
        grid-column: center-start /col-end 5;
        padding: 1rem;
        @media only screen and (max-width:$bp-small) {
            grid-row-gap:3rem;
            grid-column: center-start/center-end;
            grid-row: 2/3;
            }
    }

}