.navbar__nav  {
    display: flex;
    grid-gap: 2.5rem;
    & > * {
        list-style: none;
    text-align: center;
    }

    @media only screen and (max-width:$bp-X-small) {
        // margin: 0 auto;
        // padding: 1rem;
        // font-size: 3rem;
    
        flex-direction: column;
        // flex-direction: row;
       
        &__icon{
            flex-direction: row;
        }
      
        
        // &__header{
        //     // flex-wrap: 0;
        // }

    }

    
    
    

    .nav__link:link ,.nav__link:visited{
        font-size: 1.3rem;
        color:$color-primary;
        text-decoration: none;
    }
    .nav__link:after{
        display:block;
        content: '';
        border-bottom: solid .3rem $color-primary;  
        transform: scaleX(0);  
        transition: transform 250ms ease-out;
    }
    .nav__link:hover:after{
        transform: scaleX(1);
    }
}


